apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- vllm-deployment.yaml
- vllm-service.yaml
- istio-gateway.yaml

labels:
- pairs:
    environment: base
    project: vllm-simulator

namespace: llm
